.custom-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    z-index: 1; 
    .footer-image {
        position: absolute;
        bottom: -110px; 
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
      }
      
  }
  