<footer class="custom-footer">
  <div class="footer-image">
    <img src="/assets/footer.png" alt="Footer Image">
  </div>
  <div class="footer-content">
    <h3>¡Bienvenido a nuestro mundo de fantasía!</h3>
    <p>Explora nuestras increíbles historias, videos y más. Únete a la aventura.</p>
  </div>
  <!-- <div class="audio">
    <a (click)="toggleSound()">
      <i *ngIf="!isMuted" class="bi bi-volume-down-fill" alt="speaker"></i>
      <i *ngIf="isMuted" class="bi bi-volume-mute-fill" alt="muted"></i>
    </a>
    <audio #audioPalyer controls autoplay loop  src="">
      your browser does not support the audio element.
    </audio>
  </div> -->

</footer>
