svg{
    width: 5em;
    height: 2em;
    cursor: pointer;  
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
}


.error {   
    padding: 20px; 
}

