@media (min-width: 768px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: #53687e;
        margin: 0; 
    }

    .error {    
        text-align: center; 
        padding: 20px; 
    }
}

