
<h1>¡Feliz Cumpleaños!</h1>

<div class="gallery-container">
  
  <div class="gallery__item">
    <video src="../../../assets/videos/Nano.mp4" class="gallery__video" controls></video>
    <h2 class="gallery__title">Nano</h2>
  </div>

  <div class="gallery__item">
    <video src="../../../assets/videos/Venki.mp4" class="gallery__video" controls></video>
    <h2 class="gallery__title">Venki</h2>
  </div>

  <div class="gallery__item">
    <video src="../../../assets/videos/Fushi.mp4" class="gallery__video" controls></video>
    <h2 class="gallery__title">Fushi</h2>
  </div>

  <div class="gallery__item">
    <video src="../../../assets/videos/Vane.mp4" class="gallery__video" controls></video>
    <h2 class="gallery__title">Vane</h2>
  </div>

  <div class="gallery__item">
    <video src="../../../assets/videos/Sproks&Fer.mp4" class="gallery__video" controls></video>
    <h2 class="gallery__title">Sproks & Fer</h2>
  </div>

  <div class="gallery__item">
    <video src="../../../assets/videos/Maite, Cristian y Josep.mp4" class="gallery__video" controls></video>
    <h2 class="gallery__title">Maite, Cristian & Josep</h2>
  </div>

  <div class="gallery__item">
    <video src="../../../assets/videos/Gemma&Busy.mp4" class="gallery__video" controls></video>
    <h2 class="gallery__title">Gemma & Busy</h2>
  </div>


    <img class="gallery__video" src="../../../assets/videos/Cele.jpeg" alt="Cele">
    <h2 class="gallery__img">Cele</h2>
 
</div>
