.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #F9D89C, #D47D48);
}

.login-card {
  background: #CD5C5C;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  width: 300px;
}

h2 {
  color: #8B4513;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin: 10px 0;
}

label {
  color: #8B4513;
}

input.form-control {
  border: 1px solid #FFA500;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  background-color: #FCE4C1;
}

button.btn {
  background: #8B4513;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  width: 90%;
  font-weight: bold;
  margin-left: 16px;
}

button.btn:hover {
  background: #CD5C5C;
}
