<div class="container">
  <div class="video-container">
    <video autoplay loop muted>
      <source src="/assets/owl.mp4" type="video/mp4">
    </video>
    <div class="menu">
      <img src="/assets/up.png" alt="">
      <ul>
        <li>
        <li (mouseenter)="showDescription('Como sabemos que eres muy goloso encontrarás variedad de comidas distintas')"
          (mouseleave)="hideDescription()">
          <a routerLink="/comida" class="custom-stroke">Comida</a>
          <div class="description-box" *ngIf="currentDescription">Como sabemos que eres muy goloso encontrarás variedad
            de
            comidas distintas</div>
        </li>
        <li>
        <li (mouseenter)="showDescription('Como sabemos que eres muy goloso encontrarás variedad de comidas distintas')"
          (mouseleave)="hideDescription()">
          <a routerLink="/anime" class="custom-stroke">Anime</a>
          <div class="description-box" *ngIf="currentDescription">Como sabemos que eres muy goloso encontrarás variedad
            de comidas distintas</div>
        </li>
        <li>
        <li (mouseenter)="showDescription('Como sabemos que eres muy goloso encontrarás variedad de comidas distintas')"
          (mouseleave)="hideDescription()">
          <a routerLink="/funko" class="custom-stroke">Funkos</a>
          <div class="description-box" *ngIf="currentDescription">Como sabemos que eres muy goloso encontrarás variedad
            de comidas distintas</div>
        </li>
        <li>
          <li (mouseenter)="showDescription('Como sabemos que eres muy goloso encontrarás variedad de comidas distintas')"
          (mouseleave)="hideDescription()">
          <a routerLink="/videos" class="custom-stroke">Videos</a>
          <div class="description-box" *ngIf="currentDescription">Como sabemos que eres muy goloso encontrarás variedad
            de comidas distintas</div>
        </li>
      </ul>
      <img src="/assets/down.png" alt="">
    </div>
  </div>  
</div>

<app-footer></app-footer>
