<div class="container">
    <h1>Mis Categorías</h1>
  
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <a [routerLink]="['/videos']">Videos</a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a [routerLink]="['/categoria']">Comida</a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a [routerLink]="['/categoria']">Funkos</a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a [routerLink]="['/categoria']">Anime</a>
      </div>
    </div>
  </div>
  