<app-header></app-header>
<div class="container">
    <h1>Mis Categorías</h1>  
    <div class="row">      
      <div class="col-md-3 col-sm-6">
        <a [routerLink]="['/comida']">Comida</a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a [routerLink]="['/funko']">Funkos</a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a [routerLink]="['/anime']">Anime</a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a [routerLink]="['/videos']">Videos</a>
      </div>
    </div>
  </div>
  