.container {
  h1 {
    color: #FFE194;
    text-align: center;
    margin-top: 20px;
    font-family: 'fantasy', cursive;
  }

  .row {
    margin-top: 20px;

    .col-md-3 {
      background-color: #fff;
      padding: 20px;      
      border: 1px solid #ccc;
      border-radius: 10px;      
      margin: 10px;
      text-align: center;

      a {
        color: #FFE194;
        text-decoration: none;
        font-size: 18px;
        cursor: pointer;
        font-family: 'fantasy', cursive;

      }
    }
  }

  @media (min-width: 992px) {
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
