<div class="container">
  <div class="video-container">
    <video autoplay loop muted>
      <source src="/assets/video.mp4" type="video/mp4">
    </video>
    <h1>Mis Categorías</h1>  
    <div class="row">      
      <div class="col-md-3 col-sm-6">
        <a [routerLink]="['/comida']" class="map-location">Comida</a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a [routerLink]="['/funko']" class="map-location">Funkos</a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a [routerLink]="['/anime']" class="map-location">Anime</a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a [routerLink]="['/videos']" class="map-location">Videos</a>
      </div>
    </div>
  </div>
    </div>